/* CSS for Testimonial Component */

.testimonials-container {
    width: 100%;
    max-width: 1400px; /* Updated max-width for 1400px */
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px; /* Adjusted padding for responsiveness */
  }
  
  .testimonial {
    margin: 0 auto 10px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    max-width: 350px;
    height: auto;
    min-height: 400px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -4px 4px 25px 0px rgba(0, 0, 0, 0.075);
  }
  
  .testimonial-logo img {
    max-width: 100%; /* Updated max-width for responsiveness */
    margin: 0 auto;
    max-height: 80px; /* Updated max-height for responsiveness */
  }
  
  .testimonial-content {
    font-size: 16px;
    text-align: center;
    margin: 20px 0; /* Adjusted margin for responsiveness */
    font-family: 'Open Sans', sans-serif;
  }
  
  .testimonial-line {
    border: 1px solid #ccc;
    margin: 20px 0;
  }
  
  .testimonial-person {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .person-info {
    display: flex;
    align-items: center;
    width: 100%; /* Make sure .person-info takes up 100% of the width */
  }
  
  .person-pic {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    flex: 0 0 30%; /* Take 30% of the width */
  }
  
  .person-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 70%; /* Take 70% of the width */
  }
  
  .person-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .person-position {
    font-size: 14px;
  }
  
  /* CSS for Testimonials Component */
  .slick-slider {
    width: 100%;
    max-width: 1400px; /* Updated max-width for 1400px */
    margin: 0 auto;
    position: relative;
    padding: 0 20px; /* Add padding to create space on both sides */
  }
  
  /* Testimonial Title Styles */
  .testimonial-title {
    text-align: center;
    margin-bottom: 20px; /* Adjusted margin for responsiveness */
  }
  
  /* Responsive Adjustments */
  @media (max-width: 1400px) {
    .testimonials-container {
      width: 90%; /* Adjusted width for responsiveness */
      padding: 15px;
      margin-top: 40px; /* Adjusted padding for responsiveness */
    }

    .testimonial {
        margin: 0 auto 10px;
        padding: 20px;
        
        
        max-width: 320px;
        height: auto;
        min-height: 400px;
    }
  
    .testimonial-content {
      font-size: 14px; /* Adjusted font size for responsiveness */
    }
  
    .person-name {
      font-size: 16px; /* Adjusted font size for responsiveness */
    }
  
    .person-position {
      font-size: 12px; /* Adjusted font size for responsiveness */
    }
  
    .testimonial-logo img {
      max-width: 100%;
      max-height: 60px; /* Adjusted max-height for responsiveness */
    }
  
    .person-pic {
      max-width: 50px; /* Adjusted max-width for responsiveness */
      max-height: 50px; /* Adjusted max-height for responsiveness */
    }
  }
  
  @media (max-width: 1200px) {
    .testimonials-container {
      width: 80%; /* Adjusted width for responsiveness */
      padding: 15px;
      margin-top: 30px; /* Adjusted padding for responsiveness */
    }
    .testimonial {
        margin: 0 auto 10px;
        padding: 20px;
        
        border-radius: 20px;
        max-width: 300px;
        height: auto;
        min-height: 380px;
    }
    .testimonial-content {
      font-size: 14px; /* Adjusted font size for responsiveness */
    }
  
    .person-name {
      font-size: 16px; /* Adjusted font size for responsiveness */
    }
  
    .person-position {
      font-size: 12px; /* Adjusted font size for responsiveness */
    }
  
    .testimonial-logo img {
      max-width: 100%;
      max-height: 60px; /* Adjusted max-height for responsiveness */
    }
  
    .person-pic {
      max-width: 50px; /* Adjusted max-width for responsiveness */
      max-height: 50px; /* Adjusted max-height for responsiveness */
    }
  }
  
  @media (max-width: 900px) {
    .testimonials-container {
      width: 70%; /* Adjusted width for responsiveness */
      padding: 15px; /* Adjusted padding for responsiveness */
    }
    .testimonial {
        margin: 0 auto 10px;
        padding: 20px;
        
        border-radius: 20px;
        max-width: 280px;
        height: auto;
        min-height: 350px;
    }
    .testimonial-content {
      font-size: 12px; /* Adjusted font size for responsiveness */
    }
  
    .person-name {
      font-size: 14px; /* Adjusted font size for responsiveness */
    }
  
    .person-position {
      font-size: 10px; /* Adjusted font size for responsiveness */
    }
  
    .testimonial-logo img {
      max-width: 100%;
      max-height: 50px; /* Adjusted max-height for responsiveness */
    }
  
    .person-pic {
      max-width: 40px; /* Adjusted max-width for responsiveness */
      max-height: 40px; /* Adjusted max-height for responsiveness */
    }
  }
  
  @media (max-width: 768px) {
    .testimonials-container {
      width: 90%; /* Adjusted width for responsiveness */
      padding: 10px;
      margin-top: 20px; /* Adjusted padding for responsiveness */
    }
  
    .testimonial {
      max-width: 100%; /* Adjusted max-width for responsiveness */
    }
  
    .testimonial-content {
      font-size: 12px; /* Adjusted font size for responsiveness */
    }
  
    .person-name {
      font-size: 14px; /* Adjusted font size for responsiveness */
    }
  
    .person-position {
      font-size: 10px; /* Adjusted font size for responsiveness */
    }
  
    .testimonial-logo img {
      max-width: 100%;
      max-height: 40px; /* Adjusted max-height for responsiveness */
    }
  
    .person-pic {
      max-width: 30px; /* Adjusted max-width for responsiveness */
      max-height: 30px; /* Adjusted max-height for responsiveness */
    }
  }
  