/* Common styles for all screen sizes */
.mobile-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-logo {
  width: 150px;
}

.mobile-logo img {
  width: 100%;
}

.mobile-sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.mobile-logo-sidebar img {
  width: 100%;
  max-width: 120px;
}

.mobile-menu-icon,
.mobile-close-icon,
.mobile-back-icon {
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.mobile-close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1001;
  color: #f00;
}

.mobile-back-icon {
  margin-bottom: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1001;
}

/* Default styles for the mobile navbar */
.mobile-navbar {
  position: fixed;
  top: 0;
  right: -30%; /* Start off-screen to the right */
  width: 30%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px;
  z-index: 999;
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
  transition: right 2.5s ease; /* Update transition property to affect right instead of width */
}

/* Styles for the open state of the mobile navbar */
.mobile-navbar.open {
  right: 0;
}

.mobile-nav__links {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 20px 0;
  text-align: center;
  margin-top: 20px;
}

.mobile-nav--link {
  margin-bottom: 20px;
}

.mobile-nav--link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}

.mobile-nav--link a:hover {
  color: #f00;
}

.mobile-nav--link svg {
  margin-right: 8px;
  font-size: 20px;
  color: #666;
}

.mobile-submenu {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.mobile-submenu-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.submenu-image {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
}

.mobile-nav--link a,
.mobile-submenu-item a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease, transform 0.3s ease; /* Add transition for color and transform */
}

.mobile-nav--link a:active,
.mobile-submenu-item a:active {
  color: #f00;
  transform: scale(0.95); /* Adjust the scale as needed */
}

/* Media queries for different screen sizes */
@media (max-width: 768px) {
  .mobile-navbar {
    width: 30%;
  }

  .mobile-nav--link a {
    font-size: 18px;
  }

  .mobile-submenu-item a {
    font-size: 14px;
  }

  .mobile-nav--link svg {
    font-size: 24px;
  }

  .submenu-image {
    width: 32px;
    height: 32px;
  }
}

/* Small devices (landscape phones, 481px and up) */
@media (max-width: 481px) {
  .mobile-navbar {
    width: 40%;
  }

  .mobile-nav--link a {
    font-size: 14px;
  }

  .mobile-submenu-item a {
    font-size: 12px;
  }

  .mobile-nav--link svg {
    font-size: 18px;
  }

  .submenu-image {
    width: 28px;
    height: 28px;
  }
}

/* Extra small devices (phones, 320px and up) */
@media (max-width: 320px) {
  .mobile-navbar {
    width: 50%;
  }

  .mobile-nav--link a {
    font-size: 12px;
  }

  .mobile-submenu-item a {
    font-size: 10px;
  }
  .mobile-nav--link svg {
    font-size: 16px;
  }

  .submenu-image {
    width: 24px;
    height: 24px;
  }
}