
/* Header styles */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header.scrolled {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 300px;
}

.logo img {
  min-width: 100px;
  width: 60%;
}

.nav__links {
  list-style: none;
  display: flex;
  font-size: 16px;
}

.nav__links li {
  transition: transform 0.3s ease; /* Add transition for a smooth effect */
}

.nav__links li:hover {
  transform: scale(1.1);
  color: rgb(122, 35, 163); /* Adjust the scale factor as needed */
}


.nav__links li {
  margin-right: 20px;
}

.nav__links a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.nav__links a:hover {
  color: #f00;
}

/* Buttons section */
.buttons {
  display: flex;
  align-items: center;
}

.login-btn,
.get-started-btn {
  margin-left: 20px;
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-btn:hover,
.get-started-btn:hover {
  background-color: #333;
  color: #fff;
}



/* Header styles */
header {
  display: flex;
  padding: 1.5rem 3rem;
  justify-content: space-around;
  align-items: center;
}

.nav__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav--link {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.nav--link.hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  border-radius: 10px;
  width: auto; 
  margin-top: 10px;

  
  text-align: center;
}

.submenu::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.submenu li {
  list-style: none;
  display: inline-block; 
  margin: 10px; 
}

.submenu a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.submenu a:hover {
  color: #f00;
}

.submenu-icon {
  max-width: 40px; 
  max-height: 40px; 
  margin-right: 8px; 
  border-radius: 50%; 
}

.submenu-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.submenu-item-container {
  display: inline-block;
  margin: 0 10px;
  display: flex;
  align-items: center;   
  transition: transform 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease; /* Add transition for a smooth effect */

 
  cursor: pointer;
}

.submenu-item-container:hover {
  transform: scale(1.1); 
  border-radius: 20px;
  box-shadow: -4px 4px 25px 0px rgba(0, 0, 0, 0.075);
}




/* Media queries and responsive styles */
@media (max-width: 1200px) {
  .header {
    padding: 15px;
  }

  .logo {
    width: 150px;
  }

  .logo img {
    width: 100%;
  }

  .nav__links li,
  .nav--link {
    margin-right: 15px;
  }

  .nav__links {
    font-size: 12px;
  }

  .submenu {
    padding: 15px 0;
    margin-top: 5px;
  }

  .submenu li {
    margin: 5px;
  }

  .submenu a {
    font-size: 12px;
  }

  .submenu-icon {
    max-width: 30px;
    max-height: 30px;
    margin-right: 6px;
  }

  .login-btn,
  .get-started-btn {
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px 12px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .logo {
    width: 150px;
  }

  .logo img {
    width: 100%;
  }

  .nav__links li,
  .nav--link {
    margin-right: 10px;
  }

  .nav__links {
    font-size: 10px;
  }

  .submenu {
    padding: 10px 0;
    margin-top: 5px;
  }

  .submenu li {
    margin: 5px;
  }

  .submenu a {
    font-size: 12px;
  }

  .submenu-icon {
    max-width: 24px;
    max-height: 24px;
    margin-right: 4px;
  }

  .login-btn,
  .get-started-btn {
    margin-left: 8px;
    padding: 8px 10px;
    font-size: 10px;
  }
}
