/* Base styles for all screen sizes */

.row-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.col {
  flex: 1;
}

.text-col {
  padding: 20px;
}

.text-col h1 {
  color: #8c36d8;
  font-size: 2em;
}

.landing-praragraph {
  font-size: 1em;
  text-align: justify;
  line-height: 1.5;
  color: #333;
  margin-bottom: 5px;
}

.image-col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.image-col img {
  max-width: 100%;
  height: auto;
}

.button-landingpage {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #8c36d8;
  color: #fff;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.button-landingpage:hover {
  background-color: #6b258b;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.column {
  display: flex;
  flex-direction: column;
}

.second-row {
  display: flex;
  flex-direction: row;
}

.card {
  padding: 10px;
  margin: 10px;
  width: 100%;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: -4px 4px 25px 0px rgba(0, 0, 0, 0.075);
  border-radius: 20px;
  padding: 4%;
}

.card h2 {
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: #333;
  font-size: 1.5em;
}

.card:hover h2 {
  color: #8c36d8;
  transform: translateY(-10px);
  
}

.card p {
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: #666;
  font-size: 0.9em;
  

}

.card:hover p {
  color: #000000;
  transform: translateY(-5px);
}
@media only screen and (max-width: 768px) {
  .card {
    padding: 15px;
    margin: 15px;
  }

  .card h2 {
    font-size: 0.7em;
  }

  .card p {
    font-size: 0.5em;
  }
}

/* Responsive styles for medium-sized screens (e.g., tablets) */

@media only screen and (max-width: 1200px) {
  .card {
    padding: 15px;
    margin: 10px;
  }

  .card h2 {
    font-size: 1em;
  }

  .card p {
    font-size: 0.7em;
  }
}
/* Responsive styles for font sizes */

@media only screen and (max-width: 768px) {
  .text-col h1 {
    font-size: 1em;
  }

  .landing-praragraph {
    font-size: 0.5em;
  }

  .button-landingpage {
    font-size: 0.9em;
  }
}

/* Responsive styles for small desktop and tablets */

@media only screen and (max-width: 1024px) {
  .text-col h1 {
    font-size: 1em;
  }

  .landing-praragraph {
    font-size: 0.7em;
  }
  .button-landingpage {
    font-size: 0.7em;
    padding: 8px 15px;
  }
  .row-fluid {
    padding: 5%;
    margin-top: 20px;
  }

  .text-col {
    padding: 10px;
  }

  .image-col {
    margin-bottom: 20px;
  }

  .card {
    width: 48%; 
  }
}
