/* CSS for Testimonial Component */

/* Container styling for testimonials */
.testimonials-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; 
}

/* Styling for testimonial title */
.testimonial-title {
  text-align: center;
  margin-bottom: 20px; 
}

/* Styling for title and subtitle */
.testimonial-title h1 {
  font-size: 24px; 
  margin-bottom: 10px;
}

.testimonial-title h6 {
  font-size: 14px; 
}

/* Styling for individual testimonials */
.testimonial {
  margin: 0 auto 10px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  max-width: 350px;
  height: auto;
  min-height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -4px 4px 25px 0px rgba(0, 0, 0, 0.075);
}

/* Styling for testimonial logo */
.testimonial-logo img {
  max-width: 100%; 
  margin: 0 auto;
  max-height: 80px; 
}

/* Styling for testimonial content */
.testimonial-content {
  font-size: 16px;
  text-align: center;
  margin: 20px 0; 
  font-family: 'Open Sans', sans-serif;
}

/* Styling for separating line */
.testimonial-line {
  border: 1px solid #ccc;
  margin: 20px 0;
}

/* Styling for person information in testimonial */
.testimonial-person {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Styling for person information details */
.person-info {
  display: flex;
  align-items: center;
  width: 100%; 
}

/* Styling for person profile picture */
.person-pic {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  flex: 0 0 30%; 
}

/* Styling for person details */
.person-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 70%; 
}

/* Styling for person name */
.person-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

/* Styling for person position */
.person-position {
  font-size: 14px;
}

/* Styling for testimonials slider */
.slick-slider {
  width: 100%;
  max-width: 1400px; 
  margin: 0 auto;
  position: relative;
  padding: 0 20px; 
}

/* Responsive Adjustments */
@media (max-width: 1400px) {
  .testimonial {
    margin: 0 auto 10px;
    padding: 20px;
    max-width: 320px;
    height: auto;
    min-height: 400px;
  }

  .testimonial-content {
    font-size: 14px; 
  }

  .person-name {
    font-size: 16px; 
  }

  .person-position {
    font-size: 12px; 
  }

  .testimonial-logo img {
    max-width: 100%;
    max-height: 60px; 
  }

  .person-pic {
    max-width: 50px; 
    max-height: 50px; 
  }
}

@media (max-width: 1200px) {
  .testimonial {
    margin: 0 auto 10px;
    padding: 20px;
    border-radius: 20px;
    max-width: 300px;
    height: auto;
    min-height: 380px;
  }
  .testimonial-content {
    font-size: 14px; 
  }

  .person-name {
    font-size: 16px; 
  }

  .person-position {
    font-size: 12px; 
  }

  .testimonial-logo img {
    max-width: 100%;
    max-height: 60px; 
  }

  .person-pic {
    max-width: 50px; 
    max-height: 50px; 
  }
}

@media (max-width: 900px) {
  .testimonial {
    margin: 0 auto 10px;
    padding: 20px;
    border-radius: 20px;
    max-width: 280px;
    height: auto;
    min-height: 350px;
  }
  .testimonial-content {
    font-size: 12px; 
  }

  .person-name {
    font-size: 14px; 
  }

  .person-position {
    font-size: 10px; 
  }

  .testimonial-logo img {
    max-width: 100%;
    max-height: 50px; 
  }

  .person-pic {
    max-width: 40px; 
    max-height: 40px; 
  }
}

@media (max-width: 768px) {
  .testimonial {
    max-width: 100%;
  }

  .testimonial-content {
    font-size: 12px; 
  }

  .person-name {
    font-size: 14px; 
  }

  .person-position {
    font-size: 10px; 
  }

  .testimonial-logo img {
    max-width: 100%;
    max-height: 40px; 
  }

  .person-pic {
    max-width: 30px; 
    max-height: 30px; 
  }
}
