.Site_landing-row-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background: linear-gradient(rgb(65, 26, 115) -17.19%, rgba(92, 23, 138, 0) 111.4%), linear-gradient(86.97deg, rgba(140, 54, 216, 0.4) -0.67%, rgba(25, 157, 187, 0.4) 24.91%, rgba(0, 160, 204, 0.4) 48.82%, rgba(69, 164, 236, 0.4) 72.18%, rgba(184, 95, 255, 0.4) 88.31%), #8c36d8;
}




.Site_landing-col {
  flex: 1;
}

.Site_landing-text-col {
  padding: 20px;
}

.Site_landing-text-col h1 {
  color: #8c36d8;
  font-size: 2em;
}

.Site_landing-praragraph {
  font-size: 1em;
  text-align: justify;
  line-height: 1.5;
  color: #333;
  margin-bottom: 5px;
}

.Site_landing-image-col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.Site_landing-image-col img {
  max-width: 100%;
  height: auto;
}

.button-Site_landingpage {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #8c36d8;
  color: #fff;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.button-Site_landingpage:hover {
  background-color: #6b258b;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


.Site-landing-text {
  margin-top: 20px; /* Adjust as needed */
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .Site_landing-text-col h1 {
    font-size: 1em;
  }

  .Site_landing-praragraph {
    font-size: 0.5em;
  }

  .button-Site_landingpage {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 1024px) {
  .Site_landing-text-col h1 {
    font-size: 1em;
  }

  .Site_landing-praragraph {
    font-size: 0.7em;
  }

  .button-Site_landingpage {
    font-size: 0.7em;
    padding: 8px 15px;
  }

  .Site_landing-row-fluid {
    padding: 5%;
    margin-top: 20px;
  }

  .Site_landing-text-col {
    padding: 10px;
  }

  .Site_landing-image-col {
    margin-bottom: 20px;
  }
}
