/* SubscribePopup.css */

/* Base styles */
.popup-subscribe-main {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 700px;
  height: 70vh;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  z-index: 50;
  border-radius: 10px;
  overflow: hidden;
}

.popup-image-div {
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.popup-image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire div */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.popup-content {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #333;
  transition: transform 0.3s ease;
}

.popup-close:hover {
  color: #ff0000;
  transform: rotate(90deg);
}

.popup-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.popup-content p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}

.popup-content input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

.popup-content button {
  padding: 10px;
  background: linear-gradient(45deg, #8c36d8, #5c1a82);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.popup-content button:hover {
  background: linear-gradient(45deg, #7d2fbf, #4d176b); /* Darker gradient on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Add a subtle box-shadow on hover */
  color: #ffffff; /* Change text color on hover */
}

.popup-content button span {
  display: inline-block;
  transform-origin: 50% 100%;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}



/* Media queries for responsiveness */

/* For screens up to 1400px */
@media (max-width: 1400px) {
  .popup-subscribe-main {
    width: 90%;
  }
}

/* For screens up to 1200px */
@media (max-width: 1200px) {
  .popup-subscribe-main {
    width: 95%;
  }
}

/* For screens up to 900px */
@media (max-width: 900px) {
  .popup-subscribe-main {
    width: 70%;
    height: 80vh;
  }

  .popup-image-div,
  .popup-content {
    width: 100%;
    border-radius: 0;
  }

  .popup-image-div img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .popup-content h2 {
    font-size: 20px; /* Decrease heading size for 900px and below */
  }
}

/* For screens up to 768px */
@media (max-width: 768px) {
  .popup-subscribe-main {
    width: 60%;
    height: 100vh;
  }

  .popup-image-div,
  .popup-content {
    width: 100%;
    border-radius: 0;
  }

  .popup-image-div img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .popup-content {
    padding: 15px;
  }

  .popup-content h2 {
    font-size: 18px; /* Decrease heading size for 768px and below */
  }

  .popup-content p {
    font-size: 14px; /* Decrease paragraph size for 768px and below */
  }

  .popup-content input,
  .popup-content button {
    font-size: 14px;
  }
}
