/* ClientSlider container */
.client-slider {
    width: 80%; 
    margin: 0 auto;
  }
  
  
  .client-slide {
    text-align: center;
  }
  

  .client-slide img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .slick-dots li button {
    font-size: 12px;
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .slick-dots li.slick-active button {
    background-color: #333;
    color: #fff;
  }
  
  .client-slider h2 {
    font-size: 30px; 
    color: #333; 
    margin-bottom: 40px;
    font-weight:bold;
    text-transform: uppercase; 
    text-align: center;
    
  }